* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  padding-left: auto;
  padding-right: auto;
}

.section1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-pic {
  width: 100%;
}
.profile-pic-container {
  width: 50px;
  height: 50px;
  object-fit: fill;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.profile-pic-container:hover {
  transform: scale(1.3);
}
.about img {
  width: 25px;
  height: auto;
}
.contact img {
  width: 25px;
  height: auto;
}

.about:hover {
  color: gray;
  filter: invert(50%);
  cursor: pointer;
}
.contact:hover {
  color: gray;
  filter: invert(50%);
  cursor: pointer;
}
.top {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0px 10px;
}
.home a img {
  width: 25px;
}
.home {
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.home:hover {
  color: #8a8a8a;
  filter: invert(50%);
}
.home a {
  text-decoration: none;
  display: flex;
}
.home a:visited {
  text-decoration: none;
  display: flex;
}
.about {
  display: flex;
  transition: all 0.3s ease-in;
  filter: invert(50%);
  color: #8a8a8a;
  cursor: default;
}
.contact {
  display: flex;
  transition: all 0.3s ease-in;
}
.top-links {
  display: flex;
  gap: 40px;
}

.middle {
  width: 50vw;
  margin-top: 20vh;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.middle-title h1 {
  font-size: 65px;
}
.middle-title p {
  color: #8a8a8a;
  margin-bottom: 70px;
}
.paragraphs-image > p {
  color: #8a8a8a;
  margin-bottom: 40px;
}
.paragraphs-image img {
  filter: grayscale(100);
  margin: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  width: 300px;
  float: right;
}
.paragraphs-image img:hover {
  border: 3px white solid;
}
.paragraphs-image > h1 {
  font-size: 42px;
  margin-top: 300px;
}
.edu-ex {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 50px;
}
.card-edu {
  flex-basis: 50%;
  background-color: #1c1c1c;
  padding: 5px;
  border-radius: 5px;
}
.card-edu:hover {
  background-color: #484848;
}
.card-edu p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #8a8a8a;
}
@media all and (max-width: 705px) {
  .section1 {
    display: block;
    margin-bottom: 15vh;
  }
  .top {
    width: 100%;
    margin-left: 10px;
  }
  .middle {
    margin-left: 10px;
    margin-right: 10px;
  }
  .middle-title h1 {
    font-size: 36px;
  }
  .edu-ex {
    flex-direction: column;
  }
}
@media all and (max-width: 1200px) {
  .middle {
    width: 100%;
  }
  .paragraphs-image p {
    margin-bottom: 20px;
  }
  .paragraphs-image img {
    width: 200px;
  }
}
@media all and (max-width: 450px) {
  .paragraphs-image img {
    display: block;
    float: none;
  }
  .paragraphs-image h1 {
    font-size: 24px;
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s, transform 1.5s;
}

.animate-on-scroll.animate {
  opacity: 1;
  transform: translateY(0);
}
